@{
    ViewData["Title"] = "Access Denied";
}

<div class="justify-content-center text-center justify-content-center container-lg" >
<h1 >ACCESS DENIED <i class="fa-solid fa-shield-halved"></i></h1>
<h3>THIS IS RESTRICTED AREA PLEASE REFER BACK TO ADMINS IF THERE IS AN ISSUE</h3>
<a asp-controller="Books" asp-action="Index">Home</a>
</div>