<div
  class="fixed left-0 top-0 flex h-full w-full items-center justify-center bg-black/50"
>
  <div
    class="fixed flex w-1/4 flex-col items-center gap-4 border-4 border-royal-blue bg-black p-4"
  >
    <div
      class="flex w-full items-center justify-between border-b border-royal-blue/50 py-2"
    >
      <p class="text-xl font-bold uppercase text-white">{{ title }}</p>
      <button
        (click)="close()"
        class="text-white transition-all duration-200 hover:text-red-600"
      >
        <mat-icon fontIcon="close" />
      </button>
    </div>
    <form
      (ngSubmit)="generateProduct()"
      [formGroup]="productForm"
      class="flex w-full flex-col items-center gap-6"
    >
      <div class="form-field w-full">
        <label for="name">Name</label>
        <input
          id="name"
          type="text"
          minlength="6"
          maxlength="200"
          placeholder="ex. IPhone 15 Pro Max"
          class="input"
          autocomplete="off"
          formControlName="name"
          [ngClass]="{
            'input-error':
              productForm.controls['name'].touched &&
              productForm.controls['name'].errors,
          }"
        />
        @if (
          productForm.controls["name"].touched &&
          productForm.controls["name"].errors
        ) {
          <div>
            @if (productForm.controls["name"].errors!["required"]) {
              <p class="text-sm text-red-600">Required field</p>
            }
            @if (productForm.controls["name"].errors!["minlength"]) {
              <p class="text-sm text-red-600">
                Must be between 6 and 200 characters
              </p>
            }
          </div>
        }
      </div>
      <div class="form-field w-full">
        <label for="price">Price</label>
        <input
          id="price"
          type="number"
          min="1"
          max="999999.99"
          placeholder="999.99"
          class="input"
          formControlName="price"
          [ngClass]="{
            'input-error':
              productForm.controls['price'].touched &&
              productForm.controls['price'].errors,
          }"
        />
        @if (
          productForm.controls["price"].touched &&
          productForm.controls["price"].errors
        ) {
          <div>
            @if (productForm.controls["price"].errors!["required"]) {
              <p class="text-sm text-red-600">Required field</p>
            }
            @if (productForm.controls["price"].errors!["min"]) {
              <p class="text-sm text-red-600">Can't be less than 1$</p>
            }
          </div>
        }
      </div>
      <div class="flex items-center gap-2">
        <label for="isActive">Activate Product?</label>
        <input
          id="isActive"
          type="checkbox"
          min="1"
          max="999999.99"
          class="h-5 w-5"
          formControlName="isActive"
        />
      </div>
      <div class="flex items-center gap-6">
        <button (click)="close()" type="button" class="btn secondary-btn">
          Cancel
        </button>
        <button class="btn primary-btn">{{ title }}</button>
      </div>
    </form>
  </div>
</div>
