/*a, .btn-link {
    color: #006bb7;
}*/

/*.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}*/

/*.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}*/

h1:focus {
    outline: none;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
}

.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
}

  .sidebar .nav-link.active {
    font-weight: 700;
  }

.sidebar-heading {
  font-size: .75rem;
}

.header-logo {
  max-height: 1.25rem;
  max-width: 1.25rem;
  width: 100%;
  object-fit: cover;
}

.sortable {
  cursor: pointer;
}

/*-------------------------------*/
/* Hide Arrows From Input Number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* Hide Arrows From Input Number */
/*-------------------------------*/
