@if (isRegisteringSuccess) {
  <register-success />
} @else {
  <form
    (ngSubmit)="register()"
    class="flex flex-col gap-10"
    [formGroup]="registerForm"
  >
    <div class="flex flex-col gap-4">
      <div class="form-field">
        <label for="firstName">First name</label>
        <input
          id="firstName"
          type="text"
          class="input w-full"
          autocomplete="off"
          minlength="2"
          maxlength="50"
          required
          formControlName="firstName"
          [ngClass]="{
            'input-error':
              registerForm.controls['firstName'].touched &&
              registerForm.controls['firstName'].errors,
          }"
        />

        @if (
          registerForm.controls["firstName"].touched &&
          registerForm.controls["firstName"].errors
        ) {
          <div>
            @if (registerForm.controls["firstName"].errors!["required"]) {
              <p class="text-sm text-red-600">Required field</p>
            }
            @if (
              registerForm.controls["firstName"].errors!["minlength"] ||
              registerForm.controls["firstName"].errors!["maxlength"]
            ) {
              <p class="text-sm text-red-600">
                Must be between 2 and 50 characters
              </p>
            }
          </div>
        }
      </div>

      <div class="form-field">
        <label for="lastName">Last name</label>
        <input
          id="lastName"
          type="text"
          class="input w-full"
          autocomplete="off"
          minlength="2"
          maxlength="50"
          required
          formControlName="lastName"
          [ngClass]="{
            'input-error':
              registerForm.controls['lastName'].touched &&
              registerForm.controls['lastName'].errors,
          }"
        />

        @if (
          registerForm.controls["lastName"].touched &&
          registerForm.controls["lastName"].errors
        ) {
          <div>
            @if (registerForm.controls["lastName"].errors!["required"]) {
              <p class="text-sm text-red-600">Required field</p>
            }
            @if (
              registerForm.controls["lastName"].errors!["minlength"] ||
              registerForm.controls["lastName"].errors!["maxlength"]
            ) {
              <p class="text-sm text-red-600">
                Must be between 2 and 50 characters
              </p>
            }
          </div>
        }
      </div>

      <div class="form-field">
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          class="input w-full"
          autocomplete="off"
          minlength="2"
          maxlength="50"
          required
          formControlName="email"
          [ngClass]="{
            'input-error':
              registerForm.controls['email'].touched &&
              registerForm.controls['email'].errors,
          }"
        />

        @if (
          registerForm.controls["email"].touched &&
          registerForm.controls["email"].errors
        ) {
          <div>
            @if (registerForm.controls["email"].errors!["required"]) {
              <p class="text-sm text-red-600">Required field</p>
            }
            @if (registerForm.controls["email"].errors!["invalidEmail"]) {
              <p class="text-sm text-red-600">Invalid email</p>
            }
          </div>
        }
      </div>

      <div class="form-field">
        <label for="password">Password</label>
        <input
          id="password"
          type="password"
          class="input w-full"
          required
          formControlName="password"
          [ngClass]="{
            'input-error':
              registerForm.controls['password'].touched &&
              registerForm.controls['password'].errors,
          }"
        />

        @if (
          registerForm.controls["password"].touched &&
          registerForm.controls["password"].errors
        ) {
          <div>
            @if (registerForm.controls["password"].errors!["required"]) {
              <p class="text-sm text-red-600">Required field</p>
            }
            @if (registerForm.controls["password"].errors!["minlength"]) {
              <p class="text-sm text-red-600">
                Must be at least 6 characters long
              </p>
            }
            @if (registerForm.controls["password"].errors!["invalidPassword"]) {
              <p class="text-sm text-red-600">
                Must contain: uppercase, lowercase, digit and special character
              </p>
            }
          </div>
        }
      </div>

      <div class="form-field">
        <label for="confirmPassword">Confirm Password</label>
        <input
          id="confirmPassword"
          type="password"
          class="input w-full"
          required
          formControlName="confirmPassword"
          [ngClass]="{
            'input-error':
              (registerForm.controls['confirmPassword'].touched &&
                registerForm.controls['confirmPassword'].errors) ||
              registerForm.errors,
          }"
        />

        @if (
          (registerForm.controls["confirmPassword"].touched &&
            registerForm.controls["confirmPassword"].errors) ||
          registerForm.errors
        ) {
          <div>
            @if (
              registerForm.controls["confirmPassword"].errors?.["required"]
            ) {
              <p class="text-sm text-red-600">Required field</p>
            }
            @if (registerForm.errors?.["passwordMatchError"]) {
              <p class="text-sm text-red-600">Password doesn't match</p>
            }
          </div>
        }
      </div>
    </div>
    <button
      [disabled]="loadingService.isLoading$ | async"
      class="btn primary-btn"
    >
      @if (loadingService.isLoading$ | async) {
        <loading-spinner class="h-8 w-8" />
      } @else {
        Create Account
      }
    </button>
    <div class="flex flex-col gap-4 border-t border-white/50">
      <p class="mt-2 text-center">Already have an account?</p>
      <a routerLink="../login" class="btn primary-btn text-center hover:bg-royal-blue-hover">Sign in</a>
    </div>
  </form>
}
