<header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
    
    <NavLink class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" href="/">
        <div class="d-flex align-items-center gap-2">
            <img src="/img/product-management-system-logo.png" class="header-logo" aria-label="app logo" />
            <span class="text-nowrap text-truncate">Product Management</span>
        </div>
    </NavLink>

    <ul class="navbar-nav flex-row d-md-none">
        <li class="nav-item text-nowrap">
            <button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <ListSvg />
            </button>
        </li>
    </ul>

</header>

@code {

}
