@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  backdrop-filter: blur(2px);
  background-image: url("/assets/images/cypher-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  label {
    @apply text-white;
  }
}

@layer components {
  .outer-container {
    @apply rounded-xl border border-white/50 p-2;
  }

  .container {
    @apply h-full w-full rounded-lg bg-midnight-blue px-10 py-6;
  }

  .form-field {
    @apply flex flex-col gap-2;
  }

  .input {
    @apply rounded-lg bg-steel-blue px-3 py-1 text-lg text-white focus:outline-white;
  }

  .input-error {
    @apply bg-red-400 placeholder-red-900;
  }

  .btn {
    @apply cursor-pointer rounded-lg px-4 py-2 text-center text-lg font-bold disabled:cursor-default disabled:opacity-70;
  }

  .primary-btn {
    @apply bg-royal-blue text-white transition-all duration-200 enabled:hover:bg-royal-blue-hover;
  }

  .secondary-btn {
    @apply border-2 border-steel-blue bg-midnight-blue text-white transition-all duration-200 enabled:hover:bg-steel-blue/50;
  }

  .danger-btn {
    @apply text-white shadow-[0_0_6px] shadow-red-600 transition-all duration-200 hover:bg-red-600;
  }

  .navbar {
    @apply h-14 w-full rounded-tr-lg border-b border-white/10 bg-dark-slate-gray px-4 py-2;
  }

  .sidebar {
    @apply gradient-retro-50 flex h-full w-12 flex-col items-center gap-10 rounded-l-lg px-4 py-2 pt-20;
  }

  .sidebar-link {
    @apply hover:gradient-midnight-50 flex cursor-pointer items-center justify-center rounded-xl p-2 text-royal-blue text-white/50;
  }

  .sidebar-link-active {
    @apply gradient-midnight hover:gradient-midnight cursor-default text-royal-blue;
  }

  .table-td {
    @apply border px-4 py-2;
  }

  @layer utilities {
    .gradient-retro-50 {
      @apply bg-gradient-to-t from-sky-900/50 via-violet-600/50 to-sky-900/50;
    }

    .gradient-midnight {
      @apply bg-gradient-to-b from-black to-midnight-blue;
    }

    .gradient-midnight-50 {
      @apply bg-gradient-to-b from-black/50 to-midnight-blue/50;
    }
  }
}
