<div
  class="absolute left-0 top-0 flex h-full w-full items-center justify-center bg-black/50"
>
  <div
    class="flex w-1/4 flex-col items-center gap-4 border-4 border-red-600 bg-black p-4"
  >
    <div
      class="flex w-full items-center justify-between border-b border-red-600/50 py-2"
    >
      <p class="text-xl font-bold uppercase text-white">Error</p>
      <button (click)="close()" class="text-white transition-all duration-200 hover:text-red-600">
        <mat-icon fontIcon="close" />
      </button>
    </div>
    <div class="flex w-full flex-col items-center gap-2">
      @for (error of errorsService.errors; track $index) {
        <p class="text-lg">{{ error }}</p>
      }
    </div>
    <button (click)="close()" class="btn primary-btn">OK</button>
  </div>
</div>
