@page
@model ProductManagementSystems.tonyissa.Pages.Products.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Game.Name" class="control-label"></label>
                <input asp-for="Game.Name" class="form-control" />
                <span asp-validation-for="Game.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.Description" class="control-label"></label>
                <input asp-for="Game.Description" class="form-control" />
                <span asp-validation-for="Game.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.Price" class="control-label"></label>
                <input asp-for="Game.Price" class="form-control" />
                <span asp-validation-for="Game.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.Developer" class="control-label"></label>
                <input asp-for="Game.Developer" class="form-control" />
                <span asp-validation-for="Game.Developer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.Platform" class="control-label"></label>
                <input asp-for="Game.Platform" class="form-control" />
                <span asp-validation-for="Game.Platform" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.USAReleaseDate" class="control-label"></label>
                <input asp-for="Game.USAReleaseDate" class="form-control" />
                <span asp-validation-for="Game.USAReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.Genre" class="control-label"></label>
                <input asp-for="Game.Genre" class="form-control" />
                <span asp-validation-for="Game.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
