@page "/Account/AccessDenied"

<PageTitle>Access Denied</PageTitle>

<section class="d-flex w-100 h-100 p-3 flex-column text-center">
    <div class="m-auto px-3">
        <div class="col-2 mx-auto mb-3">
            <ShieldLockSvg Height="100%" Width="100%" />
        </div>
        <h1>Access to this page is restricted</h1>
        <p class="lead">Please check with the site administrator if you believe this is a mistake.</p>
    </div>
</section>
