@page "/Account/ForgotPassword"

@inject ISenderService Sender
@inject IdentityRedirectManager RedirectManager

<PageTitle>Forgot password</PageTitle>

<section class="d-flex w-100 h-100 p-3 mx-auto flex-column align-items-center">
    <div class="mt-auto mb-auto w-100 px-3">
        <div class="row d-flex flex-md-row-reverse justify-content-center align-items-center h-100 gap-2">
            <div class="col-md-9 col-lg-6 col-xl-5 offset-xl-1 d-flex justify-content-center">
                <img src="/img/product-management-system-logo-with-text.png" class="img-fluid p-5 overflow-hidden rounded-circle" alt="Application logo" />
            </div>
            <div class="col-md-8 col-lg-6 col-xl-5">
                <h1 class="h3 mb-3 fw-normal">Please enter your email</h1>
                <EditForm Model="Input" FormName="forgot-password" OnValidSubmit="ForgotPasswordAsync" OnInvalidSubmit="HandleInvalidSubmit" method="post" data-loading-button>
                    <DataAnnotationsValidator />
                    <div class="form-floating mb-3">
                        <InputText @bind-Value="Input.Email" id="Input.Email" class=@($"form-control form-control-lg {ValidationHelper.GetValidationCssClass(Input, nameof(Input.Email), showValidation)}") autocomplete="email" aria-required="true" placeholder="name@example.com" />
                        <label for="Input.Email" class="form-label">Email</label>
                        <ValidationMessage For="() => Input.Email" class="invalid-feedback" />
                    </div>
                    <div class="text-center text-lg-start">
                        <button type="submit" class="btn btn-dark btn-lg w-100 px-3">Reset password</button>
                        <div class="d-flex justify-content-between mt-3">
                            <a class="link-dark small text-muted link-underline-opacity-0" href="Account/Register">Don't have an account?</a>
                            <a class="link-dark small text-muted link-underline-opacity-0" href="Account/ResendEmailConfirmation">Resend email confirmation?</a>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</section>

@code {
    private bool showValidation = false;

    [SupplyParameterFromForm]
    private ForgotPasswordInputModel Input { get; set; } = new();

    private async Task ForgotPasswordAsync()
    {
        var command = new RequestPasswordResetCommand(Input.Email);
        var result = await Sender.SendAsync(command);

        // Don't reveal that the user does not exist or is not confirmed.
        RedirectManager.RedirectTo("Account/ForgotPasswordConfirmation");
    }

    private void HandleInvalidSubmit()
    {
        showValidation = true;
    }
}
