@page "/Account/Register"

@inject ISenderService Sender
@inject IdentityRedirectManager RedirectManager

<PageTitle>Register</PageTitle>

<section class="d-flex w-100 h-100 p-3 mx-auto flex-column align-items-center">
    <div class="mt-auto mb-auto w-100 px-3">
        <div class="row d-flex flex-md-row-reverse justify-content-center align-items-center h-100 gap-2">
            <div class="col-md-9 col-lg-6 col-xl-5 offset-xl-1 d-flex justify-content-center">
                <img src="/img/product-management-system-logo-with-text.png" class="img-fluid p-5 overflow-hidden rounded-circle" alt="Application logo" />
            </div>
            <div class="col-md-8 col-lg-6 col-xl-5">
                <h1 class="h3 mb-3 fw-normal">Please register</h1>
                <StatusMessage Status="@status" />
                <EditForm Model="Input" asp-route-returnUrl="@ReturnUrl" method="post" OnValidSubmit="RegisterUser" OnInvalidSubmit="HandleInvalidSubmit" FormName="register" data-loading-button>
                    <DataAnnotationsValidator />
                    <div class="form-floating mb-3">
                        <InputText @bind-Value="Input.Email" id="Input.Email" class=@($"form-control form-control-lg {ValidationHelper.GetValidationCssClass(Input, nameof(Input.Email), showValidation)}") autocomplete="email" aria-required="true" placeholder="name@example.com" />
                        <label for="Input.Email">Email</label>
                        <ValidationMessage For="() => Input.Email" class="invalid-feedback" />
                    </div>
                    <div class="form-floating mb-3">
                        <InputText type="password" @bind-Value="Input.Password" id="Input.Password" class=@($"form-control form-control-lg {ValidationHelper.GetValidationCssClass(Input, nameof(Input.Password), showValidation)}") autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label for="Input.Password">Password</label>
                        <ValidationMessage For="() => Input.Password" class="invalid-feedback" />
                    </div>
                    <div class="form-floating mb-3">
                        <InputText type="password" @bind-Value="Input.ConfirmPassword" id="Input.ConfirmPassword" class=@($"form-control form-control-lg {ValidationHelper.GetValidationCssClass(Input, nameof(Input.ConfirmPassword), showValidation)}") autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label for="Input.ConfirmPassword">Confirm Password</label>
                        <ValidationMessage For="() => Input.ConfirmPassword" class="invalid-feedback" />
                    </div>
                    <div class="text-center text-lg-start">
                        <button type="submit" class="btn btn-dark btn-lg w-100 px-3">Register</button>
                        <div class="d-flex justify-content-between mt-3">
                            <a class="link-dark small text-muted link-underline-opacity-0" href="Account/Signin">Already have an account?</a>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</section>

@code {
    private bool showValidation = false;
    private StatusModel status = StatusModel.None;

    [SupplyParameterFromForm]
    private RegisterUserInputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    public async Task RegisterUser()
    {
        showValidation = true;
        status = new StatusModel(null, null);

        var command = new RegisterCommand(Input.Email, Input.Password);
        var result = await Sender.SendAsync(command);
        if (result.IsFailure)
        {
            status = new StatusModel(result.Error.Message, MessageLevel.Error);
            return;
        }
        
        RedirectManager.RedirectTo("Account/RegisterConfirmation");
    }

    private void HandleInvalidSubmit()
    {
        showValidation = true;
    }
}
