@page "/Account/RegisterConfirmation"

<PageTitle>Register confirmation</PageTitle>

<section class="container-md py-3">

    <div class="d-flex gap-3 align-items-center mb-4">
        <PersonFillSvg Height="1.5rem" Width="1.5rem" />
        <h1 class="h2 mb-0">Register Confirmation</h1>
    </div>
    
    <StatusMessage Status="@status" />

</section>

@code {
    private StatusModel status = new StatusModel("Please check your email to confirm your account.", MessageLevel.Success);
}
