<div class="flex flex-col items-center gap-6">
  <h2 class="text-center text-4xl font-bold uppercase">Products</h2>
  @if (isLoading$ | async) {
    <loading-spinner class="h-20 w-20" />
  } @else {
    @if (products$ | async; as paginatedProducts) {
      @if (paginatedProducts.products.length > 0) {
        <products-table
          [paginatedProducts]="paginatedProducts"
          [deleteProduct]="deleteProduct.bind(this)"
          [updateProduct]="updateProduct.bind(this)"
        />
      } @else {
        <p class="text-center text-2xl uppercase text-orange-400">
          Product list is empty.
        </p>
      }

      <div
        class="flex items-center justify-between"
        [ngClass]="{ 'w-full': paginatedProducts.total > 0 }"
      >
        <button (click)="addProduct()" class="btn secondary-btn">
          Add Product
        </button>
        @if (paginatedProducts.total > 0) {
          <paginator
            [totalPages]="paginatedProducts.total"
            [currentPage]="currentPage"
            (onPageChange)="refreshProducts($event); setCurrentPage($event)"
          />
        }
      </div>
    }
  }
</div>
