<div class="flex flex-col items-center gap-6">
  @if ((currentUser$ | async)!.roles.includes("Admin")) {
    <h2 class="text-center text-4xl font-bold uppercase">Users</h2>
    @if (isLoading$ | async) {
      <loading-spinner class="h-20 w-20" />
    } @else {
      @if (users$ | async; as paginatedUsers) {
        @if (paginatedUsers.users.length > 0) {
          <users-table
            [paginatedUsers]="paginatedUsers"
            [deleteUser]="deleteUser.bind(this)"
            [updateUser]="updateUser.bind(this)"
          />
        } @else {
          <p class="text-center text-2xl uppercase text-orange-400">
            Users list is empty.
          </p>
        }

        <div
          class="flex items-center justify-between"
          [ngClass]="{ 'w-full': paginatedUsers.total > 0 }"
        >
          <button (click)="addUser()" class="btn secondary-btn">
            Add User
          </button>
          @if (paginatedUsers.total > 0) {
            <paginator
              [totalPages]="paginatedUsers.total"
              [currentPage]="currentPage"
              (onPageChange)="refreshUsers($event); setCurrentPage($event)"
            />
          }
        </div>
      }
    }
  } @else {
    <h2 class="text-2xl text-center font-bold text-red-600 uppercase">You don't have permission to see this page.</h2>
  }

</div>
