<form (ngSubmit)="login()" [formGroup]="loginForm" class="flex flex-col gap-10">
  <div class="flex flex-col gap-6">
    <div class="form-field gap-1">
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        class="input w-full"
        autocomplete="off"
        minlength="2"
        maxlength="50"
        required
        formControlName="email"
        [ngClass]="{
          'input-error':
            loginForm.controls['email'].touched &&
            loginForm.controls['email'].errors,
        }"
      />

      @if (
        loginForm.controls["email"].touched &&
        loginForm.controls["email"].errors
      ) {
        <div>
          @if (loginForm.controls["email"].errors!["required"]) {
            <p class="text-sm text-red-600">Required field</p>
          }
          @if (loginForm.controls["email"].errors!["invalidEmail"]) {
            <p class="text-sm text-red-600">Invalid email</p>
          }
        </div>
      }
    </div>

    <div class="form-field">
      <label for="password">Password</label>
      <div class="flex w-full flex-col items-end gap-1">
        <input
          id="password"
          type="password"
          class="input w-full"
          required
          formControlName="password"
          [ngClass]="{
            'input-error':
              loginForm.controls['password'].touched &&
              loginForm.controls['password'].errors,
          }"
        />
        <div class="flex w-full items-center justify-between">
          <div>
            @if (
              loginForm.controls["password"].touched &&
              loginForm.controls["password"].errors
            ) {
              @if (loginForm.controls["password"].errors!["required"]) {
                <p class="text-sm text-red-600">Required field</p>
              }
            }
          </div>
          <button
            routerLink='/forgot-password'
            class="text-sm font-light text-white transition-all duration-200 hover:text-royal-blue-hover"
            type="button"
          >
            Forgot password?
          </button>
        </div>
      </div>
    </div>
  </div>
  <button
    [disabled]="loadingService.isLoading$ | async"
    class="btn primary-btn"
  >
    @if (loadingService.isLoading$ | async) {
      <loading-spinner class="h-8 w-8" />
    } @else {
      Sign In
    }
  </button>
  <div class="flex flex-col gap-4 border-t border-white/50">
    <p class="mt-2 text-center">Don't have an account yet?</p>
    <a routerLink="../register" class="btn primary-btn text-center hover:bg-royal-blue-hover"
      >Create account</a
    >
  </div>
</form>
