@page "/"

@attribute [Authorize]

<PageTitle>Home</PageTitle>

<section class="d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
    <div class="mt-auto mb-auto px-3">
        <h1 class="mb-5">Product Management System</h1>
        <p class="lead">Welcome to the <strong>Product Management</strong> System!</p>
        <p class="lead">This is a .NET project designed to demonstrate role based authentication and authorisation with ASP.NET Core Identity.</p>
        <p class="lead pt-5">
            <a class="btn btn-lg btn-dark fw-bold" href="https://github.com/chrisjamiecarter/product-management-system" target="_blank">Learn more</a>
        </p>
    </div>
</section>