@if (isSendingSuccess) {
  <forgot-password-success />
}
@else {
  <form (ngSubmit)="resetPassword()" class="flex flex-col gap-4">
    <h2 class="text-center text-lg">
      Enter your email and you will receive link to reset your password.
    </h2>
    <div class="form-field">
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        class="input"
        [formControl]="emailInput"
        [ngClass]="{
        'input-error': emailInput.touched && emailInput.errors,
      }"
      />
      @if (emailInput.touched && emailInput.errors) {
        <div>
          @if (emailInput.errors!["required"]) {
            <p class="text-sm text-red-600">Required field</p>
          }
          @if (emailInput.errors!["invalidEmail"]) {
            <p class="text-sm text-red-600">Invalid email</p>
          }
        </div>
      }
    </div>
    <div class="flex w-full flex-col gap-2">
      <button class="btn secondary-btn">
        @if(loadingService.isLoading$ | async) {
          <loading-spinner class="h-8 w-8" />
        } @else {
          Recover password
        }
      </button>
      <back-button class="w-full" />
    </div>
  </form>
}
