<div
  class="absolute left-0 top-0 flex h-full w-full items-center justify-center bg-black/50"
>
  <div
    class="flex w-1/4 flex-col items-center gap-4 border-4 border-royal-blue bg-black p-4"
  >
    <div
      class="flex w-full items-center justify-between border-b border-royal-blue/50 py-2"
    >
      <p class="text-xl font-bold uppercase text-white">Confirm Delete</p>
      <button
        (click)="close(false)"
        class="text-white transition-all duration-200 hover:text-red-600"
      >
        <mat-icon fontIcon="close" />
      </button>
    </div>
    <div class="flex w-full flex-col items-center gap-2">
      <h2 class="text-balance text-center text-2xl">
        Are you sure you want to delete<br />
        <span class="font-bold text-royal-blue">{{ data.name }}</span
        >?
      </h2>
    </div>
    <div class="flex items-center gap-10">
      <button (click)="close(false)" class="btn primary-btn">Cancel</button>
      <button (click)="close(true)" class="btn danger-btn">Delete</button>
    </div>
  </div>
</div>
